$white:#fff;
$red:#Fa5858;
$black:#595959;
$dark:#525560;
$assist:#a6a6a6;
$blue:#4A8AF4;
$blue-1:#4A8AF433;
$green:#2cc279;
$yellow: #FFCD42;
$border: #efefef;
$primary:#3E81EE;
$border-color:#d5d7dd;
$title:#22242a;

$disabled:#F1F2F4;